.navbar{
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    padding: 0 25px;
}

.navbar-nav {
    list-style: none;
    display: flex;
    gap: 25px;
    font-size: 1.15rem;
}

.navbar-nav li:hover {
    cursor: pointer;
    color: crimson;
}

.navbar-hamburger {
    display: none;
}

.show {
    display: none;
    right: 25px;
    top: 25px;
    background-color: rgb(53, 52, 52);
    line-height: 8px;
    padding: 25px;
    border-radius: 5px;
    z-index: 100;
}


@media screen and (max-width: 830px) {
    .navbar-nav {
        display: none;
        position: absolute;
    }
    .show {
        display: flex;
        flex-direction: column;
        position: fixed;
    }
    .navbar-hamburger {
        display: flex;
        position: fixed;
        top: 25px;
        right: 25px;
        background-color: rgb(53, 52, 52);
        padding: 12px;
        border-radius: 5px;
        z-index: 99;
    }
}


@media screen and (max-width: 355px) {
    .navbar h1 {
        font-size: 1.5rem;
    }
    .navbar-hamburger {
        top: 15px;
        right: 15px;
    }
    .hamburger-icon {
        size: 32px;
    }
    .navbar-nav {
        font-size: 0.9rem;
    }
}