.planElement {
    padding: 20px;
    background-color: rgb(53, 52, 52);
    color: white;
    width: 300px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.plan-price {
    font-size: 3rem;
    margin: 20px 0;
}

.plans-list {
    list-style: none;
    padding: 0;
}

.plans-list li {
    display: flex;
    gap: 15px;
    align-items: center;
}

.plans-tick {
    height: 28px;
}

.plans-button {
    padding: 8px 0;
    font-size: 0.95rem;
    width: 100%;
    outline: none;
    cursor: pointer;
}

.premium {
    height: 530px;
    background-color: crimson;
}

@media screen and (max-width: 355px) {
    .planElement {
        width: 220px;
    }
    .plan-price {
        font-size: 2rem;
    }
    .plans-list li {
        font-size: 0.9rem;
    }
    .plans-list li {
        gap: 10px;
    }
}