.testimonials {
    display: flex;
    padding: 0 2rem;
    height: auto;
    min-height: 50vh;
}


/*  left side */
.testimonials-left {
    flex: 1 1;
    font-weight: bold;
    line-height: 35px;
    color: white;
    font-size: 3rem;
}
.testimonials-left>:nth-child(1){
    font-size: 1rem;
    color: crimson;
}
.testimonials-left>:nth-child(4) {
    font-size: 1rem;
    margin-bottom: 40px;
}
.testimonials-author {
    font-size: 1rem;
    margin-top: 30px;
}
.testimonials-author>:nth-child(1) {
    color: crimson;
}

/* ----------------------------- */


/* right side */
.testimonials-right {
    flex: 1 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 400px;
}

.testimonials-right img {
    position: absolute;
    width: 17rem;
    height: 19rem;
    top: 2rem;
    object-fit: cover;
}

.testimonials-right>:nth-child(1) {
    position: absolute;
    top: 1rem;
    margin-right: 20px;
    border: 2px solid crimson;
    width: 17rem;
    height: 19rem;
}

.testimonials-right>:nth-child(2) {
    position: absolute;
    top: 2.8rem;
    margin-left: 20px;
    width: 17rem;
    height: 19rem;
    background-color: crimson;
}

.arrows {
    display: flex;
    position: absolute;
    bottom: 70px;
    left: 190px;
    gap: 10px;
    align-items: center;
    color: white;
}

.arrows>:nth-child(1)>:hover {
    color: crimson;
    cursor: pointer;
}
.arrows>:nth-child(2)>:hover {
    color: crimson;
    cursor: pointer;
}


@media screen and (max-width: 775px) {
    .testimonials {
        display: flex;
        flex-direction: column;
        width: 90%;
        padding: 0;
        margin: 0 auto;
    }
    .arrows {
        align-self: center;
        bottom: 0px;
        left: 40%;
    }
    .testimonials-left {
        font-size: 2rem;
    }
    .testimonials-left p {
        margin: 20px 0;
    }
}

@media screen and (max-width: 355px) {
    .testimonials-right img {
        width: 14rem;
        height: 16rem;
    }
    
    .testimonials-right>:nth-child(1) {
        width: 14rem;
        height: 16rem;
    }
    
    .testimonials-right>:nth-child(2) {
        width: 14rem;
        height: 16rem;
    }
}