.why {
    display: flex;
    grid-template: 2;
    height: auto;
    margin: 0 auto;
    padding-top: 20px;
}

.why-left {
    display: grid;
    grid-template-columns: 12rem 14rem 10rem;
    gap: 1rem;
    grid-auto-rows: 1fr;
    width: auto;
}

.why-left img {
    object-fit: cover;
}

.why-left>:nth-child(1) {
    width: 12rem;
    grid-row: 1 / 3;
    grid-template-columns: 1 / 2;
    height: 28rem;
}

.why-left>:nth-child(2) {
    width: 25rem;
    height: 16rem;
    grid-column: 2 / 4;
}

.why-left>:nth-child(3) {
    width: 13.8rem;
}
.why-left>:nth-child(4) {
    width: 10rem;

}

.why-right {
    width: 50%;
    padding: 0 2rem;
}

.reasons-title {
    font-size: 1.3rem;
    margin: 0;
    font-weight: bold;
    color: crimson;
}

.reasons-title2 {
    font-size: 4rem;
    margin-top: 15px;
    margin-bottom: 0;
    color: white;
}

.reasons-list {
    list-style: none;
    padding: 0;
}

.reasons-list li {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    margin-bottom: 1.5rem;
}

.reasons-list img {
    width: 35px;
    margin-right: 15px;
}

.partners-title {
    color: rgb(146, 146, 146);
    font-size: 1.2rem;
    margin-top: 30px;
}

.partners img {
    width: 3rem;
    margin-right: 15px;
}


@media screen and (max-width: 1325px) {
    .reasons-title2 {
        font-size: 2.8rem;
    }
    .reasons-list li{
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 1080px) {
    .why {
        display: flex;
        flex-direction: column;
        width: 90%;
        align-items: center;
    }
    .why-left {
        grid-auto-rows: auto;
        grid-auto-columns: auto;
    }
    .why-right {
       padding: 0;
       margin-top: 20px;
       width: auto;
       min-width: 65%;
    }
    .reasons-title2 {
        font-size: 3.5rem;
    }
    .reasons-list li{
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 630px) {
    .why-left {
        display: grid;
        grid-template-columns: 9rem 11rem;
        gap: 1rem;
        grid-auto-rows: 1fr;
        width: auto;
    }
    .why-left>:nth-child(1) {
        width: 100%;
        height: 100%;
        justify-self: flex-end;
    }
    .why-left>:nth-child(2) {
        display: none;
    }
    .why-left>:nth-child(3) {
        width: 100%;
        height: 100%;
    }
    .why-left>:nth-child(4) {
        width: 100%;
        height: 100%;
        grid-column: 2 / 3;
        grid-row: 2 /3;
    }
    .reasons-title2 {
        font-size: 2.8rem;
    }
    .reasons-list li{
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 380px) {
    .reasons-title2 {
        font-size: 2.5rem;
    }
    .reasons-list li{
        font-size: 0.9rem;
    }
}